/* Variables for Fonts and Default Colors */
:root {
  --white: #E3E3E3;
  --light-blue: #A0E3FD;
  --blue: #1860C5;
  --dark-blue: #00222E;

  --font-thin: segoe_sans_display_light;
  --font-semilight: segoe_sans_display_semilight;
  --font-regular: segoe_sans_display_regular;
  --font-bold: segoe_sans_display_bold;
  --font-mono: caskaydia_cove_nerd_font_mono;

  --background-color: #00222E;
  --main-font: segoe_sans_display_regular;
  --main-font-size: 42px;
  --main-color: #E3E3E3;
  --block-margin: 20px;

  --heading-margin: 0 0 20px 0;
  --heading-font: segoe_sans_display_light;
  --heading-color: #A0E3FD;
  --heading-line-height: 1.2;
  --heading-letter-spacing: normal;
  --heading-text-transform: normal;
  --heading-text-shadow: none;
  --heading-font-weight: 300;
  --heading1-text-shadow: none;
  --heading1-size: 2.5em;
  --heading2-size: 1.6em;
  --heading3-size: 1.3em;
  --heading4-size: 1em;

  --code-font: caskaydia_cove_nerd_font_mono;
  --link-color: #1860C5;
  --link-color-hover: #A0E3FD;
  --selection-background-color: #666666;
  --selection-color: #ffffff;

}

/* Font Imports from TTF Files */
@font-face {
  font-family: segoe_sans_display_light;
  src: url('fonts/Segoe-Sans-Display-Light.ttf') format('truetype');
}

@font-face {
  font-family: segoe_sans_display_semilight;
  src: url('fonts/Segoe-Sans-Display-Semilight.ttf') format('truetype');
}

@font-face {
  font-family: segoe_sans_display_regular;
  src: url('fonts/Segoe-Sans-Display.ttf') format('truetype');
}

@font-face {
  font-family: segoe_sans_display_bold;
  src: url('fonts/Segoe-Sans-Text-Bold.ttf') format('truetype');
}

@font-face {
  font-family: caskaydia_cove_nerd_font_mono;
  src: url('fonts/CaskaydiaCoveNerdFontMono-Regular.ttf') format('truetype');
}

.reveal .fg-white {
  color: var(--white);
}

.reveal .fg-light-blue {
  color: var(--light-blue);
}

.reveal .fg-blue {
  color: var(--blue);
}

.reveal .bg-white {
  background-color: var(--white);
}

.reveal .bg-light-blue {
  background-color: var(--light-blue);
}

.reveal .bg-blue {
  background-color: var(--blue);
}

section.has-dark-background,
section.has-dark-background h1,
section.has-dark-background h2,
section.has-dark-background h3,
section.has-dark-background h4,
section.has-dark-background h5,
section.has-dark-background h6 {
  color: var(--white);
}

.reveal-viewport {
  background: var(--background-color);
  background-color: var(--background-color);
}

.reveal {
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  color: var(--main-color);
}

.reveal ::selection {
  color: var(--background-color);
  background: var(--blue);
  text-shadow: none;
}

.reveal ::-moz-selection {
  color: var(--background-color);
  background: var(--blue);
  text-shadow: none;
}

.reveal .slide-background-content {
  background-image: url(backgrounds/logo_squid_ink.png);
}

.footer {
  position: fixed;
  bottom: 10px;
  left: 100px;
  font-family: var(--font-bold);
  font-size: 0.8em;
  color: var(--selection-background-color);
}

.reveal .slides section,
.reveal .slides section>section {
  line-height: 1.3;
  font-weight: inherit;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: var(--main-color);
  font-family: var(--heading-font);
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: var(--heading-text-transform);
  text-shadow: none;
  word-wrap: break-word;
}

.reveal h1 {
  font-size: 2.5em;
}

.reveal h2 {
  font-size: 1.6em;
}

.reveal h3 {
  font-size: 1.3em;
}

.reveal h4 {
  font-size: 1em;
}

.reveal h1 {
  text-shadow: none;
}

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%;
}

.reveal strong,
.reveal b {
  font-weight: bold;
  color: var(--orange);
}

.reveal em {
  font-style: italic;
}

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em;
}

.reveal ol {
  list-style-type: decimal;
}

.reveal ul {
  list-style-type: disc;
}

.reveal ul ul {
  list-style-type: square;
}

.reveal ul ul ul {
  list-style-type: circle;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px;
}

.reveal dt {
  font-weight: bold;
}

.reveal dd {
  margin-left: 40px;
}

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block;
}

.reveal q {
  font-style: italic;
}

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: var(--font-mono);
  line-height: 1.2em;
  word-wrap: break-word;
  background-color: black;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

.reveal code {
  font-family: var(--font-mono);
  text-transform: none;
}

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
}

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.reveal table th {
  font-weight: bold;
}

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid;
}

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center;
}

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right;
}

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none;
}

.reveal sup {
  vertical-align: super;
  font-size: smaller;
}

.reveal sub {
  vertical-align: sub;
  font-size: smaller;
}

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top;
}

.reveal small * {
  vertical-align: top;
}

.reveal img {
  margin: 20px 0;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: var(--light-blue);
  text-decoration: none;
  transition: color .15s ease;
}

.reveal a:hover {
  color: var(--light-blue);
  text-shadow: none;
  border: none;
}

.reveal .roll span:after {
  color: var(--background-color);
  background: var(--light-blue);
}

/*********************************************
 * Frame helper
 *********************************************/
.reveal .r-frame {
  border: 4px solid var(--main-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.reveal a .r-frame {
  transition: all .15s linear;
}

.reveal a:hover .r-frame {
  border-color: var(--light-blue);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS AND CHALK BUTTONS
 *********************************************/
.reveal .controls {
  color: var(--light-blue);
}

.reveal .chalkboard-button i {
  opacity: 0.5;
}

.reveal .chalkboard-button i:hover {
  opacity: 1.0;
}

.reveal .chalkboard-button i.fa-pencil-square-o {
  position: fixed;
  bottom: 10px;
  left: 50px;
  font-size: 0.7em;
}

.reveal .chalkboard-button i.fa-pencil {
  position: fixed;
  bottom: 12px;
  left: 20px;
  font-size: 0.6em;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: var(--light-blue);
}

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: var(--background-color);
  }
}
